<div class="container trav">
    <div class="row">
        <% if @travels.any?%>
            <% @travels.each_with_index do |travel|%>
                <ul>
                    <li>    <div class="card">
                            <div class="card-img-top" >
                                <%= link_to (image_tag travel.featured_image.url(:full)), user_travel_path(travel.user,travel)%>
                            </div>
                            <div class="card-block">
                                <center> <h1 class="lead"> <%= link_to travel.title, user_travel_path(travel.user,travel)%> </h1></center>
                                <%=link_to travel.user.name, user_path(travel.user)%>
                            </div>
                            </br>
                            </br>
                    </li>
                </ul>
            <%end%>
        <%end%>
                        </div>
    </div>
</div>
